<!DOCTYPE html>
<html>
  <head>
    <title>NODE APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NODE APP</h1>
    <p>HELLO WORLD</p>
  </body>
</html>
